<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-12">
          <form class="navbar-search navbar-search-dark form-inline" (ngSubmit)="submitSearch()">
            <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
              <div class="input-group input-group-alternative" style="
                width: 100% !important;">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Cidade para locarlizarmos o Centro de Doação mais próximo"
                  type="text" (focus)="focus = true" (blur)="focus = false" [(ngModel)]="searchTerm">
              </div>
            </div>
          </form>
        </div>



        <div class="col-lg-12">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Agendamento - Região Metropolitana</h5>
                  <span class="h3 font-weight-bold mb-0"><a href="https://prosangue.hubglobe.com/entrar" target="_blank"
                      title="Clique e faça seu agendamento">Fundação Pró Sangue</a></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-tint"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Não deixe de nos mandar sua foto incentivadora!</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div id="map-canvas" class="map-canvas" style="height: 600px;"></div>
      </div>
    </div>
  </div>
</div>