.bg-gradient-danger {
  background: linear-gradient(87deg, #a83434 0, #daa8a8 100%) !important;
}

.bg-danger {
  background-color: #a83434 !important;
}

.row {
  flex-wrap: wrap;
  gap: 20px;
}
.form-inline {
  display: block;
}

a {
  padding-top: 5px;
  color: #a83434;
}