<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-12">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="mailto:contato.projetosanguebom@gmail.com?subject=Projeto Sangue Bom" class="nav-link" target="_blank">Fale conosco</a>
        </li>
        <li class="nav-item"> 
          <a  href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank">  &copy;  {{ test | date: "yyyy" }} Creative Tim</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
