.navbar-collapse .collapse-brand img {
    height: 85px;
}

.bg-gradient-danger
{
    background: linear-gradient(87deg, #a83434 0, #daa8a8 100%) !important;
}

.navbar-horizontal .navbar-brand img {
    height: 67px;
}

.nav-link{
    color: #fff0f0
}

.nav-link:hover{
    color: #c58181
}