.btn-danger
{
    color: #fff;
    border-color: #af7272;
    background-color: #a83434;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-warning
{
    color: #fff;
    border-color: #c78585;
    background-color: #925353;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}