<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bem vindo, Sangue Bom!</h1>
          <p class="text-lead text-light">Ficamos muito felizes com você aqui.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Faça login com</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Ou insira novas credenciais</small>
          </div>
          <form role="form" (ngSubmit)="register(user)">
            <div class="form-group">
              <label for="nome"><i class="fas fa-user"></i> Nome:</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input class="form-control" placeholder="Nome" type="text" [(ngModel)]="user.nome" name="nome" id="nome">
              </div>
            </div>
            <div class="form-group">
              <label for="email"><i class="fas fa-envelope"></i> Email:</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" [(ngModel)]="user.email" name="email" id="email">
              </div>
            </div>
            <div class="form-group">
              <label for="dataNascimento"><i class="fas fa-calendar"></i> Data de Nascimento:</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                </div>
                <input class="form-control" placeholder="Data de Nascimento" type="date" [(ngModel)]="user.dataNascimento" name="dataNascimento" id="dataNascimento">
              </div>
            </div>
            <div class="form-group">
              <label for="genero"><i class="fas fa-venus-mars"></i> Gênero:</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                </div>
                <select class="form-control" [(ngModel)]="user.genero" name="genero" id="genero">
                  <option value="" selected>Selecione o gênero</option>
                  <option value="feminino">Feminino</option>
                  <option value="masculino">Masculino</option>
                  <option value="naoBinario">Não Binário</option>
                  <option value="outro">Outro / Prefiro não declarar</option>
                </select>
              </div>
            </div>      
            <div class="form-group">
              <label for="jaDoador"><i class="fas fa-hand-holding-heart"></i> Já doou sangue alguma vez?</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-hand-holding-heart"></i></span>
                </div>
                <select class="form-control" [(ngModel)]="user.jaDoador" name="jaDoador" id="jaDoador">
                  <option value="" selected>Já doou sangue alguma vez?</option>
                  <option value=true>Sim</option>
                  <option value=false>Não</option>
                </select>
              </div>
            </div>  
            <div class="form-group">
              <label for="senha"><i class="fas fa-lock"></i> Senha:</label>
              <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input class="form-control" placeholder="Senha" type="password" [(ngModel)]="user.password" name="senha" id="senha" minlength="6">
              </div>
              <div *ngIf="user.password.length < 6 && user.password.length > 0" class="error-message">
                A senha deve ter no mínimo 6 caracteres.
              </div>
          </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4" [disabled]="!user.email || !user.password || !user.nome">Criar cadastro</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>