<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-danger opacity-8"></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Olá, Sangue Bom</h1>
        <p class="text-white mt-0 mb-5">Ficamos extremamente felizes em te ver aqui. Obrigada por fazer parte do nosso projeto, contamos com você!</p>
        <a (click)="openDonationFormModal()" class="btn btn-danger">Enviar foto</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="../../../assets/img/theme/profile.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">{{user?.nome}}</span>
                  <span class="description">{{  user?.jaDoador ? 'Doador' : 'Futuro Doador' }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center" *ngIf="user?.jaDoador">
            <hr class="my-4" />
            <p>Confira os requisitos para sua próxima doação e nos encaminhe sua foto incentivadora!</p>
          </div>
          <div class="text-center" *ngIf="!user?.jaDoador">
            <hr class="my-4" />
            <p>Não deixe de conferir os requisitos para doação e faça parte conosco!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Meu perfil</h3>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="user">
          <form (ngSubmit)="updateUserInfo()">
            <h6 class="heading-small text-muted mb-4">Meus dados</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Nome" name="nome" [(ngModel)]="user.nome" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="Email" name="email" [(ngModel)]="user.email" required>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="user.dataNascimento">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Data de nascimento</label>
                    <input type="date" id="input-first-name" class="form-control form-control-alternative" placeholder="Data de nascimento" name="dataNascimento" [(ngModel)]="user.dataNascimento" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Gênero</label>
                    <select class="form-control" name="genero" [(ngModel)]="user.genero" required>
                      <option value="" disabled selected>Selecione o gênero</option>
                      <option value="feminino">Feminino</option>
                      <option value="masculino">Masculino</option>
                      <option value="naoBinario">Não Binário</option>
                      <option value="outro">Outro / Prefiro não declarar</option>
                    </select>
                  </div>
                </div>
              </div>
             <!--  <button type="submit" class="btn btn-danger my-4">Atualizar dados</button> -->
            </div>
          </form>
          
          <hr class="my-4" />
          <h6 class="heading-small text-muted mb-4">Enviar foto com comprovante de doação</h6>
          <div class="col-lg-12">
            <div class="form-group">
              <label>Nos encaminhe sua foto com o comprovante de doação!</label>
              <div>
                <button class="btn btn-danger lg w-100" (click)="openDonationFormModal()">Encaminhar foto incentivadora</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>