.bg-gradient-danger
{
    background: linear-gradient(87deg, #a83434 0, #daa8a8 100%) !important;
}
.btn-danger
{
    color: #fff;
    border-color: #daa8a8;
    background-color: #a83434;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}