<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Olá, Sangue bom!</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Em breve você poderá nos enviar sua foto com comprovante de doação
        e aparecer na nossa tela inicial. <br />
        Não deixe de doar e continuar nos acompanhando!
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()">
            Entendi
        </button>
    </div>
</div>