<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Você Sabia?</h5>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-question-circle"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                Uma única doação de sangue pode salvar até quatro vidas. O sangue doado é separado em componentes, como glóbulos vermelhos, plaquetas e plasma.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Tipos Sanguíneos</h5>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-dna"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                Os principais são A, B, AB e O. <br><br>
                Cada tipo sanguíneo tem características diferentes e pode ser positivo (+) ou negativo (-). 
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Processo</h5>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-project-diagram"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                Contato com Centro de Doação <br><br> Triagem <br><br> Coleta!
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Intervalos de Doação</h5>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-user-clock"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                 Homens - 60 dias (máximo de 04 doações nos últimos 12 meses).<br><br>
                 Mulheres - 90 dias (máximo de 03 doações nos últimos 12 meses).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Incentive e participe nos mandando sua foto</h6>
              <h2 class="text-white mb-0">Seja Sangue Bom</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                  <a (click)="openDonationFormModal()" class="nav-link py-2 px-3">
                    <span class="d-none d-md-block">Participe</span>
                    <span class="d-md-none">Participe</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Carrossel de imagens -->
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" #carousel>
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" *ngFor="let image of images; let i = index" [class.active]="i === 0">
                <img class="d-block w-100" [src]="image.src" [alt]="image.alt">
                <h6 class="text-uppercase text-light ls-1 mb-1">{{image.legenda}}</h6>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow mb-3">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Principais Requisitos</h6>
              <h2 class="mb-0">O que é necessário para doar sangue?</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">Idade mínima de 16 anos (com consentimento dos pais ou responsável) ou 18 anos completos.</li>
              <li class="list-group-item">Pesar no mínimo 50 kg.</li>
              <li class="list-group-item">Estar em boas condições de saúde.</li>
              <li class="list-group-item">Apresentar documento oficial com foto (RG, CNH etc.).</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Impeditivos Temporários</h6>
              <h2 class="mb-0">O que pode adiar a sua doação?</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Ter realizado procedimentos odontológicos invasivos (extrações dentárias, por exemplo) nos últimos 7 dias.</li>
            <li class="list-group-item">Ter feito tatuagem ou piercing nos últimos 12 meses.</li>
            <li class="list-group-item">Ter sido submetido a cirurgias ou transfusões nos últimos 12 meses.</li>
            <li class="list-group-item">Ter tido febre nos últimos 7 dias.</li>
            <li class="list-group-item">Ter tomado vacina recentemente (como a da gripe), dependendo do caso.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Impeditivos Permanentes</h6>
              <h2 class="mb-0">O que pode impedir sua doação?</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">Ter tido hepatite após os 11 anos de idade.</li>
            <li class="list-group-item">Ter sido diagnosticado com doença de Chagas.</li>
            <li class="list-group-item">Ter tido malária ou sífilis.</li>
            <li class="list-group-item">Ter feito uso de drogas injetáveis ilícitas.</li>
            <li class="list-group-item">Ter tido contato com o vírus HIV (AIDS).</li>
            <li class="list-group-item">Ter tido acidente vascular cerebral (AVC) ou infarto.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Outras informações e Links Rápidos</h6>
              <h2 class="mb-0">Saiba Mais</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="https://www.paho.org/pt/noticias/14-6-2023-opas-faz-um-chamado-pelo-aumento-das-doacoes-sangue-e-plasma-para-garantir-um" ngbTooltip="Clique e vá para o site" target="_blank">Segurança e disponibilidade de sangue - OMS</a>
            </li>
            <li class="list-group-item">
              <a href="https://www.gov.br/saude/pt-br/assuntos/noticias/2023/novembro/ministerio-da-saude-anuncia-aplicativo-para-incentivar-doacao-voluntaria-de-sangue" target="_blank">Ministério da Saúde - Doação de Sangue</a>
            </li>
            <li class="list-group-item">
              <a href="https://prosangue.sp.gov.br/artigos/requisitos_basicos_para_doacao.html" target="_blank">Requisitos para doação de sangue</a>
            </li>
            <li class="list-group-item">
              <a href="https://bvsms.saude.gov.br/doacao-de-sangue/#:~:text=Condi%C3%A7%C3%B5es%20b%C3%A1sicas%20para%20doar%20sangue,peso%20acima%20de%2050%20Kg." target="_blank">Saiba se você pode doar sangue - Pro-Sangue</a>
            </li>
            <li class="list-group-item">
              <a href="https://www.hemocentro.fmrp.usp.br/canal-do-doador/duvidas-e-perguntas/" target="_blank">Dúvidas frequentes sobre doação de sangue - USP</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
